[submodule ".registry"]
	path = .registry
	url = https://github.com/mrchypark/mrchypark.r-universe.dev
	branch = HEAD
[submodule "churon"]
	path = churon
	url = https://github.com/mrchypark/churon
[submodule "elbird"]
	path = elbird
	url = https://github.com/mrchypark/elbird
[submodule "josaplay"]
	path = josaplay
	url = https://github.com/mrchypark/josaplay
[submodule "multilinguer"]
	path = multilinguer
	url = https://github.com/mrchypark/multilinguer
[submodule "sendgridr"]
	path = sendgridr
	url = https://github.com/mrchypark/sendgridr
[submodule "stdictkr"]
	path = stdictkr
	url = https://github.com/mrchypark/stdictkr
[submodule "theeuh"]
	path = theeuh
	url = https://github.com/mrchypark/theeuh
[submodule "torch"]
	path = torch
	url = https://github.com/mlverse/torch
	registered = false
[submodule "tqk"]
	path = tqk
	url = https://github.com/mrchypark/tqk
